<div class="brand">🍊橙聘</div>
<div class="address-bar">世上没有无用的东西，只是放错了地方！</div>

  <div class="jumbotron">
    <h1 class="title" style="margin-top: 30px !important;">Cheng Pin</h1>
    <p class="slogan">你就是一条龙；找不准位置，你就是一条虫。
    <br>
    是一匹骏马，就不要局限在锅台上跑马，而要到广阔的草原上驰骋。
    <br>
     是一只雄鹰，就不要习惯在檐下低徊，而要去搏击长天。
    </p>
    <p class="lead"><a class="btn btn-lg btn-danger" href="/jobs">马上应征</a></p>
  </div>
  <section id="company">
    <div class = "container-fluid">
      <div class="row">
        <div class="col-sm-4 ">
          <div class="thumbnail">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRJ9rRUstotQOUgzHUk8zajKvsC-HvYBTURBrLquEccpq7qMhaDRt7nbw" alt="search" class = "img-thumbnail">
            <div class="caption">
              <h3>最新</h3>
            </div>
          </div>
        </div>
        <div class="col-sm-4 ">
          <div class="thumbnail">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQfY1fqccoKDo9pc5Z4Hg3r-pPsgzde5-7vj8VSqkANavV2hzBqBw" alt="bid" class = "img-thumbnail">
            <div class="caption">
              <h3>最快</h3>
            </div>
          </div>
        </div>
        <div class="col-sm-4 ">
          <div class="thumbnail">
            <img src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcQT_GfkzxwwP1EH9mtq3-O2aEfEZEcTvb6YISDt8yg7qpVk5yHl" alt="heart" class = "img-thumbnail">
            <div class="caption">
              <h3>最好</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <div class="container">

          <!-- Marketing Icons Section -->
          <div class="row">
              <div class="col-lg-12">
                  <h1 class="page-header">
                      Welcome to ChengPin
                  </h1>
              </div>
              <div class="col-md-3">
                  <div class="panel panel-default">
                      <div class="panel-heading">
                          <h4><i class="fa fa-fw fa-check"></i> 互联网/电子商务</h4>
                      </div>
                      <div class="panel-body">
                          <p>
                            前端开发<br>
                            后端开发<br>
                            产品经理<br>
                            需求分析师<br>
                            产品设计师<br>
                            项目经理<br>
                          </p>
                          <a href="#" class="btn btn-default">More</a>
                      </div>
                  </div>
              </div>
              <div class="col-md-3">
                  <div class="panel panel-default">
                      <div class="panel-heading">
                          <h4><i class="fa fa-fw fa-check"></i> 互联网/电子商务</h4>
                      </div>
                      <div class="panel-body">
                          <p>
                            前端开发<br>
                            后端开发<br>
                            产品经理<br>
                            需求分析师<br>
                            产品设计师<br>
                            项目经理<br>
                          </p>
                          <a href="#" class="btn btn-default">More</a>
                      </div>
                  </div>
              </div><div class="col-md-3">
                  <div class="panel panel-default">
                      <div class="panel-heading">
                          <h4><i class="fa fa-fw fa-check"></i> 互联网/电子商务</h4>
                      </div>
                      <div class="panel-body">
                          <p>
                            前端开发<br>
                            后端开发<br>
                            产品经理<br>
                            需求分析师<br>
                            产品设计师<br>
                            项目经理<br>
                          </p>
                          <a href="#" class="btn btn-default">More</a>
                      </div>
                  </div>
              </div><div class="col-md-3">
                  <div class="panel panel-default">
                      <div class="panel-heading">
                          <h4><i class="fa fa-fw fa-check"></i> 互联网/电子商务</h4>
                      </div>
                      <div class="panel-body">
                          <p>
                            前端开发<br>
                            后端开发<br>
                            产品经理<br>
                            需求分析师<br>
                            产品设计师<br>
                            项目经理<br>
                          </p>
                          <a href="#" class="btn btn-default">More</a>
                      </div>
                  </div>
              </div>
          </div>

  <div class="row">
              <div class="box">
                  <div class="col-lg-12">
                      <hr>
                      <h2 class="intro-text text-center">
                          <strong>种下一颗梦想的种子，收获累累果实</strong>
                      </h2>
                      <p class="lead"><a class="btn btn-lg btn-danger" href="/jobs">马上应征</a></p>
                  </div>
              </div>
          </div>

<!-- jQuery -->
<script src="js/jquery.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="js/bootstrap.min.js"></script>

<!-- Script to Activate the Carousel -->
<script>
$('.carousel').carousel({
    interval: 5000 //changes the speed
})
</script>
