/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bootstrap-sprockets";
 @import "bootstrap";
 @import "font-awesome";

 //教程
 .jumbotron {
  background-image:url('https://images.unsplash.com/photo-1492086393392-4d7fc603473a?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1080&fit=max&s=b80e46ee3f12e3e4185cdfa4e1c0507f');
  background-color: lightblue !important;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 110px;
  margin-left: -20px;
  margin-right: -20px;
  height: 500px;
}

.title {
  font-family: "Helvetica Neue", "Microsoft Yahei", 微软雅黑;
  text-align: center;
  margin-top: 200px;
  margin-bottom: 80px;
}

.slogan {
  margin-top: 10px;
  margin-bottom: 50px;
  text-align: center;
  color: white;
  top: 12px;
  font-weight: bold !important;
}

.lead {
  margin-bottom: 60px;
  text-align: center;
  color: white;
}

//navbar
.navbar-default {
    background-color: #212121;//背景颜色
    border-color: #212121;//边框色
    margin-bottom: 0;//底部 margin 不撑开距离
}

@media (min-width: 768px) {
    .navbar {
        border-radius: 0;//圆角为0
    }
}

.btn-lg, .btn-group-lg > .btn {
    padding: 8px 16px;//通过padding来决定btn的大小
    font-size: 20px;//btn文字大小
    letter-spacing: 3px;//调整文字间距
    border-radius: 3px;//btn圆角
    width: 200px;//这里用指定宽度把btn拉得更长
}

//company
.caption {
  margin: 30px;
  text-align: center;
  top: 20px;
}

.thumbnail {
    border: 0 none;
    box-shadow: none;
    margin-top: 60px;
}
//center

 .block-nowidth-father-center{
   position: relative;
   left: 50%;
 }

.block-nowidth-child-center{
  position: relative;
  left: -50%;
}

.block-fixwidth-center{
  width: 1000px;
  margin: 20px auto;
}

.m20{
  margin: 20px;
}

// image
img {
  vertical-align: middle;
}
.img-responsive,
.thumbnail > img,
.thumbnail a > img,
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  display: block;
  max-width: 100%;
  height: auto;
}
.img-rounded {
  border-radius: 6px;
}
.img-thumbnail {
  display: inline-block;
  max-width: 100%;
  height: auto;
  padding: 4px;
  line-height: 1.42857143;
  border: 1px solid #ddd;
  border-radius: 4px;
  -webkit-transition: all .2s ease-in-out;
       -o-transition: all .2s ease-in-out;
          transition: all .2s ease-in-out;
}
.img-circle {
  border-radius: 50%;
}
